@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@font-face {
    font-family: daydream;
    src: url("..//fontes/daydream.ttf");
    font-weight: normal;
}
:root{
    --cor1: #7FFFD4;
    --cor2: #66CCAA;
    --cor3: #B5FFE5;
    --font1: 'Pacifico', cursive;
    --font2: daydream, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    background-color: var(--cor2);
    font-family: var(--font2);
    font-size: 1.65em;
    text-align: center;
    padding-top: 30px;
    height: 90px;
}
body{
    background-image: url("..//imagens/background.jpeg");
    background-size: 7em;
    background-repeat: repeat;
    background-attachment: fixed;
}
main{
    max-width: 700px;
    min-width: 300px;
    min-height: 100vh;
    margin: auto;
    background-color: white;
}
section{
    padding: 15px;
}
.titulos{
    text-align: center;
    position: absolute;
    top: 20%;
    width: 100%;
    font-family: var(--font1);
    font-size: 2em;
}
section div.pao-de-mel{
    width: 100%;
    height: 130px;
    margin: auto;
    margin: 30px 0px;
    background-color: var(--cor1);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.200);
    position: relative;
}
section div.brigadeiro{
    width: 100%;
    height: 130px;
    margin: auto;
    margin: 60px 0px;
    background-image: url("..//imagens/brigadeiro.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.200);
    position: relative;
}
section div.doces{
    width: 100%;
    height: 130px;
    margin: auto;
    margin: 60px 0px;
    background-color: var(--cor1);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.200);
    position: relative;
}
section div.trufas{
    width: 100%;
    height: 130px;
    margin: auto;
    margin: 60px 0px;
    background-color: var(--cor1);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.200);
    position: relative;
}
section div.pascoa{
    width: 100%;
    height: 130px;
    margin: auto;
    margin: 60px 0px;
    background-color: var(--cor1);
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    position: relative;
}
.botao{
    width: 8%;
    background-color: rgba(0, 0, 0, 0.10);
    height: 130px;
    position: absolute;
    top: 1%;
    left: 92.2%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
span{
    position: absolute;
    left: 30%;
    top: 40%;
}
footer{
    width: 100%;
    height: 45px;
    text-align: center;
    background-color: var(--cor2);
    font-family: var(--font1);
    font-size: .60em;
    padding-top: 5px;
}
footer > h1 > a{
    text-decoration: none;
    color: black;
}
footer > h1 > a:hover{
    color: var(--cor1);
}